.excel__table{
    position: absolute;
    right: 0;
    left: 0;
    top:$header-height + $toolbar-height + $formula-height;
    padding-bottom: 2px;
    overflow-x: auto;

    .row{
        display: flex;
        flex-direction: row;
        min-height: 20px;
        height: $row-height;
    }

    .row-info{
        min-width: $info-cell-width;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $border-color;
        border-top: 0;
        background: #f8f9fa;
    }

    .row-data{
        display: flex;
    }

    .column{
        height: 100%;
        min-width: 40px;
        width: $cell-width;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $border-color;
        border-top: 0;
        border-left: 0;
        background: #f8f9fa;
    }

    .cell{
        height: 100%;
        min-width: 40px;
        width: $cell-width;
        padding: 5px;
        border: 1px solid #e2e3e3;
        border-top: 0;
        border-left: 0;
        outline: none;
        white-space: nowrap;
        color: #000;

        &.selected{
            border: none;
            outline: 2px solid #3c74ff;
            z-index: 2;
        }
    }
}